---
layout: default
title: Certificates
---
<h1 class="text-3xl font-mono font-bold mb-6">Certificates</h1>
<ul class="space-y-6">
  {% for cer in site.data.certificates %}
    <li class="border-l-4 border-blue-500 pl-4 flex flex-col gap-4">
      <div class="flex-1">
        <a href="{{ cer.certificate_url }}" class="text-xl font-sans hover:text-blue-500 dark:hover:text-blue-400 transition-colors duration-200" target="_blank">{{ certificate.name }}</a>
        <p class="text-gray-500 dark:text-gray-400 font-sans text-sm mt-1">Description: {{ cer.description }}</p>
        <p class="text-gray-600 dark:text-gray-300 font-sans text-sm mt-1">Provider or Issuer: {{ cer.issuer }}</p>
        <p class="text-gray-600 dark:text-gray-300 font-sans text-sm mt-1">Date: {{ cer.date | date: "%B %d, %Y" }}</p>
        <!-- Show File -->
        {% if cer.file %}
          <div class="mt-2">
              <span class="inline-block bg-blue-100 dark:bg-blue-900 text-blue-800 dark:text-blue-200 text-xs px-2 py-1 rounded mr-2">{{ tag }}</span>
          </div>
        {% endif %}
        <!-- Show Tabs -->
        {% if cer.tags %}
          <div class="mt-2">
            {% for tag in cer.tags %}
              <span class="inline-block bg-blue-100 dark:bg-blue-900 text-blue-800 dark:text-blue-200 text-xs px-2 py-1 rounded mr-2">{{ tag }}</span>
            {% endfor %}
          </div>
        {% endif %}

      </div>
    </li>
  {% endfor %}
</ul>