body .container {
  max-width: 1200px !important;
}

/*  print-button CSS */
.print-page-element {
  margin-bottom: 1.5rem; 
  margin-right: 0em; 
  text-align: right;
}
.other-version-link {
  display: inline-flex; 
  align-items: center; 
  gap: 0.5em; 
  margin-right: 7rem;
}
.print-button {
    padding: 0.75rem 1.5rem;
    margin-right: 1rem;
    background-color: var(--global-hover-color);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0,123,255,0.3);
    display: inline-flex;
    align-items: center;
}

/* .print-button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,123,255,0.4);
} */

/* .print-button:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0,123,255,0.3);
} */

/* Dark mode support */
/* @media (prefers-color-scheme: dark) {
    .print-button {
        background-color: #1a73e8;
    }
    
    .print-button:hover {
        background-color: #0d47a1;
    }
} */
/* End of print-button */

.fas fa-print {
  margin-right: 8px;
}