<!DOCTYPE html>
<html lang="{{ site.lang }}" data-theme="light">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Fira+Code&family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/styles.css?v=1">
  {% if page.url == '/resume' %}
    {% include resume_css.liquid %}
  {% endif %}
  <script src="/assets/js/theme_toggle.js" defer></script>
  <link rel="stylesheet" href="/assets/css/custom_styles.css">
  <!-- default -->
  {% if page.redirect %}
    {% if page.redirect == true %}
      {% assign redirect = site.baseurl | append: '/' %}
    {% elsif page.redirect contains '://' %}
      {% assign redirect = page.redirect %}
    {% else %}
      {% assign redirect = page.redirect | relative_url %}
    {% endif %}
  {% endif %}
  {% include head.liquid %}

</head>

<!-- Body -->
  <body class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}">
    
    <!-- Header -->
    {% include header.liquid %}

  <div class="container mt-5" role="main" style="margin-top: 1rem !important;"> 
    <div class="row">
      <div class="col-sm-3" style="padding-left: 2.5rem;padding-right: 0rem !important;"> 
        <nav id="toc-sidebar" class="sticky-top"></nav>
      </div>
      <main class="container py-4" style="max-width: 900px !important;margin-top: 0rem !important;padding-top: 0rem !important;"> 
        {{ content }}
      </main>
  
    </div>

    
    
  </div>
  
  
  <footer class="bg-light-card shadow-sm py-3 text-center">
    {% include footer.liquid %}
  </footer>
  {% include scripts.liquid %}
</body>
</html>